{{!-- {{> navigation}} --}}

<h1>Project Sunset</h1>

{{!-- <h2>Teams: <span class="data">{{day}}</span></h2> --}}
{{!-- <a class="nav" href="">add event</a> --}}

<ul class="cards">
  {{#each teams}}
    <a href='/{{id}}/team'>
    <li class="container">
        <div class="teams">
        <span class="title">{{team_name}}</span>
            <p><strong>Date established:</strong> {{date_established}}</p>
            <p><strong>This team was indicted for:</strong> {{indicted_for}}</p>
            <p class="event-description data">{{description}}</p>
        </div>
    {{!-- <a href="/events/{{id}}/edit">edit event</a> --}}
  </li>
    </a>
  {{/each}}
</ul>

<div >
<button>Add team</button>
</div>