{{!-- {{> navigation}} --}}

<h1> Welcome to the league</h1>

{{!-- <h2>Teams: <span class="data">{{day}}</span></h2> --}}
{{!-- <a class="nav" href="">add event</a> --}}

<ul class="cards">
  {{#each teams}}
  <li class="container">
    <div class="teams">
      <span class="title">{{team_name}}</span>
        <p>Date established: {{date_established}}</p>
        <p>This team was indicted for: {{indicted_for}}</p>
    </div>
    <p class="event-description data">{{description}}</p>
    {{!-- <a href="/events/{{id}}/edit">edit event</a> --}}
  </li>
  {{/each}}
</ul>

